%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Status:
  -if (@task.status == 0)
    = 'undone'
  -if (@task.status == 1)
    = 'done'
%p
  %b Created at:
  = @task.created_date
%p
  %b Due date:
  = @task.due_date
%p
  %b Priority:
  -if (@task.priority == 0)
    = 'low'
  -if (@task.priority == 1)
    = 'medium'
  -if (@task.priority == 2)
    = 'high'
%br
  = link_to 'Back', tasks_path